
    <!-- Start Footer -->
<div class="footerdv">
        <div class="footer-row-top-link flexible-width">
            <a href="/">English(US)</a>
            <a href="#link-lang">Dutch</a>
            <a href="#link-lang">italiano</a>
            <a href="#link-lang">Espanol</a>
            <a href="#link-lang">हिन्दीਪੰਜਾਬੀ</a>
            <a href="#link-lang">العربیه</a>
            <a href="#link-lang">italiano</a>
            <a href="#link-lang">Espanol</a>            
            <a href="#link-lang">italiano</a>
            <a href="#link-lang">Espanol</a>
            <a href="#link-lang">فارسی</a>
            <a href="#link-lang">italiano</a>
            <a href="#link-lang">Espanol</a>
            <a class="link-3-pont" href="#link-lang">...</a>
        </div>
        <div class="display-leveling-footer flexible-width">
            <div class="copyright-box">
                Matrix Master - E.Bazaei &copy; 2022 &#8901; 
            </div>
            <div class="quick-link-box">
                <a  href="/">Home</a>&#8901; 
                <a  href="/new-postfeed">Add New Post</a>&#8901;
                <a href="#quicklink">Badges</a>&#8901;
                <a href="#quicklink">People</a>&#8901;
                <a href="#quicklink">Pages</a>&#8901;
                <a href="#quicklink">About</a>&#8901;
                <a href="#quicklink">Advertising</a>&#8901;
                <a href="#quicklink">Creat a Page</a>&#8901;
                <a href="#quicklink">Developers</a>&#8901;
                <a href="#quicklink">Careers</a>&#8901;
                <a href="#quicklink">Privacy</a>&#8901;
                <a href="#quicklink">Terms</a>&#8901;
                <a href="#quicklink">Help</a>
            </div>
        </div>
</div>
    <!-- End Footer -->

 </body>
</html>